.register-loginContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    width: 80%;
    padding: 2.5rem 8rem 1rem;
    border: 1px solid #ccc;
    border-radius: 15px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.15);
    background-color: white;
    color: #474444;
    z-index: 100;
}

.formHeading {
    text-align: center;
    font-size: 2rem;
    font-family: "Jomhuria", serif;
    font-weight: 700;
}

.tabs {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 4rem 0;
    font-weight: 600;
    cursor: pointer;
    font-size: 20px;
}

.tab-active {
    text-align: center;
    width: 217px;
    height: 37px;
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0 0 50px rgba(0, 25, 255, 0.24);
}

.inputContainer {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    gap: 2rem;
    margin-bottom: 1rem;
}

.inputContainer>label {
    /* width: 30%; */
    font-size: 20px;
    font-weight: 600;
}

.inputField {
    width: 70%;
    border: none;
    outline: none;
    background-color: #F4F4F4;
    padding: 0.75rem;
    margin-bottom: 1rem;
    font-size: 12px;
    border-radius: 10px 10px 0px 0px;
}

.inputField.error {
    border: 1px solid red;
}

.inputField.error::placeholder {
    color: red;
}

.buttonContainer {
    display: grid;
    place-items: center;
}

.buttonContainer>button {
    width: 274px;
    height: 38px;
    border: none;
    outline: none;
    font-size: 20px;
    cursor: pointer;
    border-radius: 8px;
    background-color: #A9BCFF;
    font-weight: 600;
}

.loginBtn {
    margin: 2rem 0 6rem;
}