.quizDeleteForm {
    margin: 0 auto;
    width: 60%;
    position: fixed;
    top: 50%;
    left: 50%;
    border-radius: 10px;
    transform: translate(-50%, -50%);
    background-color: white;
    color: #474444;
    z-index: 100;
    padding: 3rem 5rem;
    font-weight: 600;
}

.quizDeleteForm>h1 {
    font-size: 2.5rem;
    text-align: center;
    margin: 0 4rem 3rem;
}

.deleteFormBtnContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.deleteFormBtnContainer>button {
    width: 279px;
    height: 46px;
    border-radius: 10px;
    border: none;
    background-color: #FFFFFF;
    color: #474444;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
    font-size: 1.25rem;
    font-weight: 600;
    cursor: pointer;
}

.confirmDeleteButton {
    background-color: #FF4B4B !important;
    color: #FFFFFF !important;
}